{% extends "base.html" %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="navbar-brand" src="{% static 'images/THD_logo_50x50.png' %}">
    <span class="navbar-brand">Darrow</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'matters:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" aria-current="page" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            New</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Dispute</a></li>
            <li><a class="dropdown-item" href="#">Advice</a></li>
            <li><a class="dropdown-item" href="#">Deal</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'matters:my-matters' %}">My Matters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
        <p class="text-white mb-2 mb-lg-0 mx-4">Welcome {{ request.user.first_name }}</p>
      {% endif %}
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> 

<div class="container mt-4">
    <h4>Create a New Advice and Counsel Matter</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Done</button>
    </form>
</div>

{% endblock content %}